body{
    margin: 0 0;
}

header{
    background: rgb(109, 204, 170);
}
.botones{
    float: right;
    margin-right: 5%;
    color: white;
    font-size: 90%;
}

ul{
    float: right;
    list-style: none;
    margin-right: 15%;
}

#lista-encabezado{
    width: 45%;
    font-weight: bold;
}

.perro{
    display: block;
    margin: auto;
    margin-top: 30px;
}
#encabezado{
    padding: 15px 15px;
    background-color: rgba(255, 255, 255, 0.3);
}
.base{
    padding-top: 7%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    padding-bottom: 2%;
}
.telefono{
    padding: 0;
    color: white;
    width: 33.3%;
    font-weight: bold;
}
#frase{
    text-align: center;
    color:white;
    font-weight: bold;
}
#redes-sociales{
    color: white;
    float: right;
    width: 33.3%;
}
.red{
    float: left;
    margin-right: 15px;
    border: 10px solid white;
    border-radius: 50%;
    font-size: 25px;
}
.info{
    width: 45%;
    float: left;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    margin-left: 5%;
}
.negrita{
    font-weight: bold;
    margin-bottom: 0;
}
hr{
    display: inline-block;
    width: 10%;
    border-color: #3F3F3F;
    border-width: 2px;
    border-style: solid;
    margin: 10px 0 0 0;
}
.rescate{
    margin: 0 0;
    padding: 0 0;
}
.crowfunding{
    width: 45%;
    float: right;
    margin: 0 0 0 5%;
}
.comida{
    max-width: 45%;
    margin-top: 5%;
}
.campañas{
    border: 2px solid black;
    width: 20%;
    font-size-adjust: 100%;
}
footer{
    background-color: rgba(220, 220, 220, 0.8);
    width: 100%;
    float: left;
}
.pie{
    margin: 1% 0 10% 1%;
}
